body {
    background-color: #262735;
  }
  
  form {
    background-color: #F2C94C;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    font-size: 18px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #262735;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #262735;
    color: #F2C94C;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  a {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #F2C94C;
    border-radius: 5px;
    color: #F2C94C;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #F2C94C;
    color: #262735;
  }
  h1 {
    font-size: 2em;
    color: #F2C94C;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  
  